BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never

ColumnLimit: 300
PenaltyBreakBeforeFirstCallParameter: 300

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  # AfterRequiresExpression: false

  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false

  IndentBraces: false

  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpaceBeforeParens: ControlStatements

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

IndentCaseLabels: true
IndentCaseBlocks: false

PointerAlignment: Right
ReferenceAlignment: Right
